.env
backup/
*.dump
pg_local_backup.sh~    # temp vagy backup fájlok, ha szokott ilyet generálni editorod
codeql/
codeql-db/
src_codeql/
*.log
bin/
.gradle/
.idea/
*.zip
realtime/
target/
*.class
*.tmp
*.jar
