[submodule "BeaSQL"]
	path = BeaSQL
	url = https://github.com/BeatrixZselezny/BeaSQL.git
[submodule "ProtectLINUX"]
	path = ProtectLINUX
	url = https://github.com/BeatrixZselezny/ProtectLINUX.git
[submodule "patchy-core"]
	path = patchy-core
	url = https://github.com/BeatrixZselezny/patchy-core
